{% extends 'timetable/base.html' %}
{% load crispy_forms_tags %}
{% block body %}
    <div class="container">    
        <form action="{% url 'timetable:edit' id %}" method="POST">
            {% csrf_token %}
            {{ cellform|crispy }}
            <input class="btn btn-primary" type="submit" name="cell" value="Add to TimeTable">
        </form>
        <h1 class="text-center">{{ title }}</h1>
        <table border="2" cellspacing="3" align="center">
        <tr>
        <td align="center">
        {% for time in time_head %}
        <td>{{ time }}
        {% endfor %}
        </tr>
        {% for day, day_name in mylist %}
            <tr>
            <td align="center">{{ day_name }}
            {% for lec in day %}
            <td align="center">{% if lec is none %}---{% else %}{{ lec }}{% endif %}<br>
            {% endfor %}
            </tr>
        {% endfor %}
        </table>
        <form action="{% url 'timetable:edit' id %}" method="POST">
            {% csrf_token %}
            {{ subform|crispy }}
            <input class='btn btn-primary' type="submit" name="subjec" value="Add Subject">
        </form>
    </div>
{% endblock body %}