{% extends 'timetable/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}
    <div class='top-hd'>
    <img id="bg-img" src="{% static 'timetable/images/head-img.webp' %}">
    <button class="create-table-lg myBtn" id="hrBtn">Create TimeTable</button>
    <div>
    {% if user.is_authenticated %}
        <div class="container">
            <h1 class="p-2">Your TimeTables</h1>
            <ul>
            {% for timetable in all_timetable %}
            <li><a href="{% url 'timetable:edit' timetable.id %}">{{ timetable }}</a></li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            {% if user.is_authenticated %}
                <form class='m-auto' style='width: 70%' method='POST' action="{% url 'timetable:index' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <input type='submit' class='btn btn-primary' value='Create TimeTable'>
                </form>
            {% else %}
                <h1>Please Login</h1>
            {% endif %}
        </div>

    </div>
    
    {% if error %}
    <script>
    var modal = document.getElementById("myModal");
    modal.style.display = "block";
    </script>
    {% endif %}
    
{% endblock body %}