{% comment %} {{ timet.subject_set.get.name_of_sub }} {% endcomment %}
{% for cell in timet %}
    {{ cell.subject_set.get }}<br>
    {{ cell.period }}<br>
    {{ cell.day }}<br>
{% endfor %}
{% comment %} {{ c }} {% endcomment %}
{{ e }}
{% comment %} {{ i }} {% endcomment %}
{{ mylist }}
<table border="2" cellspacing="3" align="center">
<tr>
 <td align="center">
 {% for time in e %}
 <td>{{ time }}
 {% endfor %}
</tr>
{% for day, day_name in mylist %}
    <tr>
    <td align="center">{{ day_name }}
    {% for lec in day %}
    <td align="center">{% if lec is none %}---{% else %}{{ lec }}{% endif %}<br>
    {% endfor %}
    </tr>
{% endfor %}
{% comment %} <tr>
 <td align="center">TUESDAY
 <td align="center"><font color="blue">SUB1<br>
 <td align="center"><font color="red">SUB2<br>
 <td align="center"><font color="pink">SUB3<br>
 <td align="center">---
 <td align="center"><font color="orange">SUB4<BR>
 <td align="center"><font color="maroon">SUB5<br>
 <td align="center">library
</tr>
<tr>
 <td align="center">WEDNESDAY
 <td align="center"><font color="pink">SUB1<br>
 <td align="center"><font color="orange">SUB2<BR>
 <td align="center"><font color="brown">SWA<br>
 <td align="center">---
 <td colspan="3" align="center"><font color="green"> lab
</tr>
<tr>
 <td align="center">THURSDAY
 <td align="center">SUB1<br>
 <td align="center"><font color="brown">SUB2<br>
 <td align="center"><font color="orange">SUB3<BR>
 <td align="center">---
 <td align="center"><font color="blue">SUB4<br>
 <td align="center"><font color="red">SUB5<br>
 <td align="center">library
</tr>
<tr>
 <td align="center">FRIDAY
 <td align="center"><font color="orange">SUB1<BR>
 <td align="center"><font color="maroon">SUB2<br>
 <td align="center"><font color="blue">SUB3<br>
 <td align="center">---
 <td align="center"><font color="pink">SUB4<br>
 <td align="center"><font color="brown">SUB5<br>
 <td align="center">library
</tr>
<tr>
 <td align="center">SATURDAY
 <td align="center"><font color="red">SUB1<br>
 <td colspan="3" align="center">seminar
 <td align="center"><font color="pink">SUB4<br>
 <td align="center"><font color="brown">SUB5<br>
 <td align="center">library
</tr> {% endcomment %}
{% comment %} <html>
<head>
   <title>time table</title>
</head>
<body bgcolor="skyblue">
<H1><FONT COLOR="DARKCYAN"><CENTER>COLLEGE TIME TABLE</FONT></H1>

</body>
</html> {% endcomment %}